<h1 class="mt-5">Add product</h1>
<hr>

<form [formGroup]="myForm">
    <div class="row g-3 align-items-center mb-3">

        <div class="col-auto">
            <label class="col-form-label">Name:</label>
        </div>

        <div class="col-auto">
            <input type="text" class="form-control" formControlName="name">
        </div>

        <div class="col-auto">
            <span
                errorMsg
                *ngIf="hasError('name')"
                >
            </span>
        </div>

        <div class="row mt-3">
            <div class="col">
                <button class="btn btn-primary">
                    Save
                </button>
            </div>
        </div>
    </div>
</form>

<h5 class="mt-5">Form </h5>
<pre>Valid: {{ myForm.valid }}</pre>
<pre>Value: {{ myForm.value | json }}</pre>